body {
    font-family: "Arial";
}

.navbar .collapse {
    visibility: visible !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
    }
}